@charset "UTF-8";


/*header*/
header#mainhd{
	height: 1200px;
	position: relative;
	margin-bottom: 290px;	
}

div#hdtop{width: 100%; height: 50px;  position: absolute; top: 0; z-index: 999999;}
div#hdtop>h1{height: 50px; float: left;}
div#hdtop img{width: 167px; height: 50px;}

div#hdtop>nav#mainmenu{
  background-color: #252525;	
  float: right;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  left: -100%;
}
nav#mainmenu{}
nav#mainmenu>ul{position: absolute; left: 50%; top: 50%; transform:translate(-50%,-50%); }
nav#mainmenu>ul>li{height: 50px;}
nav#mainmenu>ul>li>a{
	display: block;
	line-height: 50px;
	color:#fff;
	padding: 0 30px;
	font-size: 20px;
}

nav#mainmenu>ul>li:hover{background-color: #252525; height: 250px;}
nav#mainmenu>ul>li:hover a{color: #fff;}
.submenu{
	display: none;
	padding-bottom: 10px;
}
.submenu>li{
	background-color: #252525;
	color: #fff;
	text-align: center;
	line-height: 50px; 
}
.submenu>li:hover{background-color: orange;}
.submenu>li:hover a{background-color: orange;}

nav#mainmenu>ul:hover .submenu{display: block;}
.submenu>li a{font-size: 12px;}

.togglemenu{
	float: right;
	width: 50px;
	height: 50px;
	/*background-color: #fff;*/
	position: relative;
	cursor: pointer;
}

.togglemenu div{
	width: 35px;
	height: 5px;
	position: absolute;
	background-color: #fff;
	border-radius: 3px;
	left: 7.5px;
	transition: 0.3s;
}

.togglemenu .bar1{top: 11px;}
.togglemenu .bar2{top: 21px;}
.togglemenu .bar3{top: 31px;}

.togglemenu.change .bar1{transform: rotate(-45deg); top: 21px; background-color: #fff;}
.togglemenu.change .bar2{opacity: 0;}
.togglemenu.change .bar3{transform: rotate(45deg); top: 21px; background-color: #fff;}
.togglemenu.change{position: fixed; z-index: 999999; right: 0;}


.sliderwrap{height: 500px;}
.sliderwrap ul li{
	height: 500px;
	background-color: skyblue;
}
.sliderwrap li.slide_1st{
	background: url(../img/header03.jpg) no-repeat center;
	background-size: cover;
}
.sliderwrap li.slide_2nd{
	background: url(../img/header02.jpg) no-repeat center;
	background-size: cover;
}
.sliderwrap li.slide_3th{
	background: url(../img/header04.jpg) no-repeat center;
	background-size: cover;
}

.sliderwrap .slidertxt{
	width: 350px;
	position: absolute;
	left: 80px;
	bottom: 10%;			
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.sliderwrap .slidertxt h3{font-size: 35px; margin-bottom: 20px;}
.slidertxt p {display: none;}
/* .sliderwrap .slidertxt h3:after{
	content: "";
	display: block;
	width: 15px;
	height:2px;
	background-color: #fff;
	margin: 10px auto;
} */

.content{width: 100%;}
 
 .content>ul>li{
 	float: left;
 	width: 50%;
 	height: 315px;
  position: relative;
 }
 .content>ul>li:nth-child(2n){background-color: skyblue;}
 .content > ul > li img{display: block;margin: 0 auto;transition:.3s;}
 .content > ul > li img.icon{margin-bottom: 15px;}
 .content > ul > li a.iconlink{display: block;height: 315px;padding-top:80px;}
 .content > ul > li p{text-align: center;color:white;font-weight:bold;}
 
 .content > ul > li .card{
 	position: absolute;
 	bottom: 30px;
 	right: 30px;
 	padding-left:50px;
 	padding-top:50px;
 	color:white;
 	text-shadow: 1px 1px black;
 }
 
 .content > ul > li .card h3{text-align: right; }
 .content > ul > li.ct8st .card h3:after,
 .content > ul > li.ct11st .card h3:after{
 	content:"";
 	display: block;
 	width: 150px;
 	height: 3px;
 	background-color: #fff;
 	margin-left: auto;
 	margin-bottom: 10px;
 	margin-top: 10px;
 	box-shadow: 1px 1px black; 
 }
 .content > ul > li.ct6st .card h3:after{
 	content:"";
 	display: block;
 	width: 80px;
 	height: 3px;
 	background-color: #fff;
 	margin-left: auto;
 	margin-bottom: 10px;
 	margin-top: 10px;
 	box-shadow: 1px 1px black;
 }
 
 
 .content > ul > li .card p{font-size:20px; text-align: right; font-weight: bold;}
 
 
 .content>ul>li.ct1st{background-color: #f26d7d;}
 .content>ul>li.ct2st{display: none;	}
 
 
 .content>ul>li.ct3st{display: none;}
 
 .content>ul>li.ct4st{background-color: #252525;}
 .content>ul>li.ct5st{display: none;}
 .content>ul>li.ct6st{display: none;}
 
 .content>ul>li.ct7st{display: none;}

 
 .content>ul>li.ct8st{width: 100%;}
 .content>ul>li.ct9st{display: none;}
 .content>ul>li.ct10st{display: none;}
 .content>ul>li.ct11st{width: 100%;}
 
 
 
 
/* container */
.container{
	width: 100%;
	height: 600px;	
	margin-bottom: 50px;
	_background: url(../img/img.png) no-repeat bottom;
  background-color: #d8d8d8;
}


.container .section{
	height: 200px;
	margin: 0 auto;
	position: relative;
}

.container .maintxt{
	text-align: center;	
  color:black;
  padding-top: 25px;				
}
.container h4{
	font-size: 20px;
}

.container p{
	text-align: center;
	color:black;
	font-size:25px;
	font-weight: bold; 
	
}

.container .value{width: 100%; height: 300px;} 
.container .value li{
	float: left;
	margin-top: 40px;
	margin-right:30px;
	width: 200px;
	height: 200px;
	transition: 0.3s;
	cursor: pointer;
}

.container .value li:last-child{margin-right:0;}

.container .value .card{
	width: 150px;
	height: 150px;
  _background-color: #fff;
  border-radius: 100%;
  position: relative;
  left: 40px;
  padding-top: 10px;	
}
.container .value .card:hover{
	box-shadow: 8px 8px 10px rgba(0,0,0,0.5);
	transform:translate(-10px,-10px);
}

.container .value .card img {display: block; margin: 0 auto; width: 80px;	height: 80px;	}
.container .value .card h3{
	text-align: center;
	margin-top: 15px;
	font-size:12px; 
}





.article{width: 100%; margin-bottom: 50px;}
.article .awrap{width: 100%; height: 1260px; background-color: #d7d7d7; margin: 0 auto;}

.awrap>ul>li{width: 50%; height: 315px; float: left;}
.awrap>ul>li img {width: 250px;	height: 315px;	}

.awrap>ul>li.art01{width: 100%;background-color: #372f2d;}
.awrap>ul>li.art02{}
.awrap>ul>li.art03{}
.awrap>ul>li.art04{}
.awrap>ul>li.art05{}
.awrap>ul>li.art06{}
.awrap>ul>li.art07{}




.post{margin-bottom: 80px;}
.post>.postbox{width: 100%; margin: 0 auto; position: relative;}

.postbox .textbox{position: absolute; top: 60px; right: 80px; width: 500px;}
.postbox .textbox .tb{ 
	text-align: right;
	font-size: 30px;
	margin-bottom: 40px;
	color: white;
}

.textbox p.tbox{
	position: absolute;
	right: 10px;
	border: 1px solid #1e2540;
	background-color: #1e2540;
	line-height: 50px;
	width: 200px;
	height: 50px;
	cursor: pointer;
	text-align: center;
}

.textbox p.tbox a{
	color: white;
	font-weight: bold;
}


.footer{
	height: 100px;
	padding-top: 20px;
}

.footer>.addresswrap{
	width: 980px; 
	margin: 0 auto;
}

.footer>.addresswrap p.top{
	color: #000;
	margin-bottom: 10px;
}

.footer>.addresswrap p{
	color:#6f6f6f;
	font-size:15px;
}
 .bx-wrapper{
 	-moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   border: none;
   background: none;
 } 




/*subpage01*/




header#subhd{
	height: 1950px;
	position: relative;
	height: 460px;
}

header#subhd>div#hdtop_wrap{
	width: 100%;
	height: 80px;
	_background-color: rgba(0,0,0,0.5);
	position: absolute; 
	top: 20px;
	z-index: 1;
}
header#subhd div#hdtop_wrap>div#hdtop{
	width: 1260px;
	margin: 0 auto;
}

header#subhd div#hdtop_wrap>div#hdtop img{
	width: 167px;
	height: 50px;
}

header#subhd div#hdtop>h1{
	height: 50px;
	float: left;
}
header#subhd div#hdtop>nav#mainmenu{
	height: 50px;
  float: right;

}

header#subhd nav#mainmenu{
	width: 800px;
	background-color: #252525; 
	position: relative;
}
header#subhd nav#mainmenu>ul{}
header#subhd nav#mainmenu>ul>li{
	width: 20%;
	float: left;
}
header#subhd nav#mainmenu>ul>li>a{
	display: block;
	text-align: center;
	line-height: 50px;
	color:#fff;
}

header#subhd nav#mainmenu>ul>li:hover{background-color: #252525; height: 250px;}
header#subhd nav#mainmenu>ul>li:hover a{color: #fff;}

header#subhd .submenu{
	display: none;
	padding-bottom: 10px;
}
header#subhd .submenu>li{
	background-color: #252525;
	color: #fff;
	text-align: center;
	line-height: 50px; 
}
header#subhd .submenu>li:hover{background-color: orange;}
header#subhd .submenu>li:hover a{background-color: orange;}

header#subhd nav#mainmenu>ul:hover .submenu{display: block;}
header#subhd .submenu>li a{font-size: 12px;}






/*header#hdm{
	height: 460px;
	position: relative;
	background: url(../img/subheader02.jpg) no-repeat center;
  background-size: cover;
  min-width: 1260px;
}*/



.company{
	background: url(../img/subheader02.jpg) no-repeat center;
  background-size: cover;
}

.company2{
	background: url(../img/subheader03.jpg) no-repeat center;
  background-size: cover;
}

.company3{
	background: url(../img/subheader04.jpg) no-repeat center;
  background-size: cover;
}

.company4{
	background: url(../img/subheader05.jpg) no-repeat center;
  background-size: cover;
}

.company5{
	background: url(../img/subheader01.jpg) no-repeat center;
  background-size: cover;
}


.submn{
	width: 1260px;
	height: 70px;
	margin: 0 auto;
	position: relative;
}

.menubar{
	position: absolute;
	top: -74px;
	background-color: #fff;
	border-bottom: 5px solid #f7b400;
	z-index: 1;
}

.menubar>ul{}
.menubar>ul>li{
	float: left;
	width: 315px;
	height: 69px;
	border-right: 2px solid #e3e3e3; 
  text-align: center;
  line-height: 70px;
}
.menubar>ul>li:hover{background-color: #f7b400;}
.menubar>ul>li:hover a{color: #2a1f00;}
.menubar>ul>li:last-child{border-right: none;}

.menubar>ul>li>a{
	font-size: 18px;
	color: #000; 
  display: block;
}

.active.btn{
  background-color: #f7b400;
  color: #2a1f00;
}
.active.btn2{
  background-color: #f7b400;
  color: #2a1f00;
}
.active.btn3{
  background-color: #f7b400;
  color: #2a1f00;
}
.active.btn4{
  background-color: #f7b400;
  color: #2a1f00;
}
.active.btn5{
  background-color: #f7b400;
  color: #2a1f00;
}

section.subsection{
	width: 1260px;
	height: 2800px;
	margin: 0 auto; 
	margin-bottom: 30px;
}

section.subsection104{
	width: 1260px;
	height: 3200px;
	margin: 0 auto; 
	margin-bottom: 30px;
}

section.subsection302{
	width: 1260px;
	height: 1500px;
	margin: 0 auto; 
	margin-bottom: 30px;
}
section.subsection>.menu{
	width: 300px;
	height: 50px;
	background-color: #fff;
	margin-left: 20px;
}
section.subsection>.menu a{
	display: block;
	float: left;
	color:black; 
}


